# Executables
*.exe

# Object files
*.o
*.obj

# Build folders
build/
bin/
Debug/
Release/
External/
*.dll
*.filters
*.user

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.user
.vs/

# VSCode
.vscode/

# Libraries
lib/

# Logs
*.log